# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
dist-ssr/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Local environment files
*.local

# Tests
coverage
# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

